html, body {
  margin: 0;
  padding: 0;
  border: none;
}

rect {
  fill: #A5CCD1;
}

text {
  font-family: Arial, Helvetica, sans-serif;
}

.tick text {
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  fill: #888888;
}

.title {
  font-size: 1.6em;
  fill: #888888;
}